# Copy this file to .env.local and set your values

# Your backend API base URL
NEXT_PUBLIC_API_URL=https://fast-chat-gamma.vercel.app

# Your Socket.io server URL (usually same as API)
NEXT_PUBLIC_SOCKET_URL=https://fast-chat-gamma.vercel.app
